@use '../../style' as s;

.page {
	padding: 24px;
	max-width: 400px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 32px;
}
.header {
	display: flex;
	justify-content: space-between;
}
.button {
	transition: opacity 0.7s;
	cursor: pointer;

	&:hover {
		opacity: 0.7;
	}
}

.title {
	font-size: 24px;
	color: #121212;
}
.post__list {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.post {
	padding: 12px;
	border-radius: 10px;
	background-color: #f7f7f7;
	border: 1px solid #f7f7f7;

	display: flex;
	flex-direction: column;
	gap: 12px;

	&--viewed {
		background-color: transparent;
		border-color: e6e6e6;

		.post__info {
			color: #888888;
		}
	}
}
.post__header {
	display: flex;
	justify-content: space-between;
}
.post__category-list {
	display: flex;
	gap: 8px;
}
.post__category {
	padding: 8px 12px;
	font-size: 12px;
	border-radius: 50px;

	&--1 {
		color: #f46f17;
		background: #f7e9e1;
	}

	&--2 {
		color: #ef5da8;
		background: #f6e8ef;
	}
}

.post__date {
	font-size: 14px;
	color: #888888;
}
.post__info {
	font-size: 16px;
	line-height: 1.4em;
	color: #121212;

}
.post--viewed {
}