{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page">
    {{!-- <header class="header">
        <button class="button">
            <img width="24px" height="24px" src="/svg/arrow.svg" alt="arrow">
        </button>

        <button class="button">
            <img width="24px" height="24px" src="/img/111.jpg" alt="avatar">
        </button>
    </header> --}}

    {{!-- <h1 class="title">Мій блог</h1> --}}

    {{!-- <nav class="nav">
        <button class="nav__button">Tesst</button>
        <button class="nav__button--active">Tesst2</button>
    </nav> --}}


    {{!-- <div class="block">
        <img class="block__banner" src="/img/img.png" alt="banner">
        <div class="block__info">
            <h2 class="block__info--title">Що таке база знань?</h2>
            <p class="block__info--text">База знаний — база данных, содержащая правила вывода и информацию о
                человеческом опыте и
                знаниях в некоторой предметной области. В самообучающихся системах база знаний также содержит
                информацию, являющуюся результатом решения предыдущих задач. </p>
        </div>
        <button class="block__button">
            Перейти до ком'юніті у Телеграм
        </button>
    </div> --}}

    {{!-- <main class="post__list">
        <div class="post button">
            <div class="post__header">
                <div class="post__category-list">
                    <span class="post__category post__category--1">Важливо</span>
                    <span class="post__category post__category--2">Нова</span>
                </div>
                <span class="post__date">25.11</span>
            </div>
            <p class="post__info">До біса планувальник, наймаємо дизайнера і готуємося до презентації, як Джобс</p>
        </div>

        <div class="post button post--viewed">
            <div class="post__header">
                <div class="post__category-list">
                    <span class="post__category post__category--1">Важливо</span>
                    <span class="post__category post__category--2">Нова</span>
                </div>
                <span class="post__date">15.11</span>
            </div>
            <p class="post__info">Ми хотіли щоб у цьому чаті було близько 150 людей щоб зробити якісний пак
                самопрезентацій.
            </p>
        </div>

        <div class="post button">
            <div class="post__header">
                <div class="post__category-list">
                    <span class="post__category post__category--1">Важливо</span>
                    <span class="post__category post__category--2">Нова</span>
                </div>
                <span class="post__date">20.10</span>
            </div>
            <p class="post__info">До біса планувальник, наймаємо дизайнера і готуємося до презентації, як Джобс</p>
        </div>



    </main> --}}
</div>






{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}